html, body{
    margin: 0;
    padding: 0;

}

body{
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(43, 43, 43) 40%, rgb(58, 58, 58)100%);
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgb(43, 43, 43) 40%, rgb(66, 66, 66)100%);
}

.box div{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(75, 204, 243, 0.26);
    border-style: groove;

}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(2){
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
}
.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}
.box div:nth-child(5){
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
}
.box div:nth-child(6){
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
}
.box div:nth-child(7){
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
}
.box div:nth-child(8){
    top: 25%;
    left: 25%;
    animation: animate 16s linear infinite;
}
.box div:nth-child(9){
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
}
.box div:nth-child(10){
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
}

.navigation{
    background-color: #2b2b2b;
    color: white;
    height: 50px;

}


.navigation a{
    color: white;
    text-decoration: none;
}

.navigation a:hover{
    color: #f27609;
}

.navigation li.threeline-icon{
    display: none;
}
.navigation li.threeline-icon:hover{
    color: #f27609;
    cursor: pointer;
}

.navigation ul{
    margin-top: 0;
    list-style: none;
    padding: 0;
    text-align: right;
    height: 50px;
}

.navigation li{
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;

    animation-name: navegacao;
    animation-duration: 1s;
}

.capa{
    color: white;
}

.capa span{
    color: #f27609;
    display: block;
}

.capa div{
    display: inline-block;
    height: 650px;
}

.profile-pic{
    width: 40%;
    text-align: center;

    animation-name: profile-capa;
    animation-duration: 4s;
}

.profile-pic img{
    width: 310px;
    border-radius: 310px;
    margin-top: 100px;
}

.profile-title{
    vertical-align: top;
    width: 59%;

    animation-name: titulo-capa;
    animation-duration: 4s;
}

.profile-title h1{
    text-transform: uppercase;
    font-size: 58px;
    margin-top: 200px;
    font-weight: 400;
    line-height: 50px;
}
.profile-title h2{
    font-size: 16px;
    font-weight: 100;
    margin-top: -25px;
}

.main{
    padding: 60px 180px 60px 100px;

    animation-name: conteudo;
    animation-duration: 4s;
}

.cv-pic{
    float: right;
    width: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 24px;
    margin-top: -70px;
}

.main h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.centralizar{
    text-align: center;
    font-size: 40px;
    color: #f27609;
}


.main h2{
    color: white;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 40px;
}

.main a.github{
    text-decoration: none;
    color:#f27609;
}

.main h3{
    color: #f27609;
    font-size: 12px;
    text-transform: uppercase;
}

.main p{
    color: white;
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
}


.caminho{
    margin-top: -15px;
    list-style: none;
    padding: 0;
    color: grey;
}

.caminho li{
    display: inline-block
}

.caminho a{
    color: grey;
}


.social-img{
    width: 50px;
    margin-right: 10px;
}
.social1-img{
    width: 25px;
    border-radius: 20px;
    padding-left: 5px;
}

.miniatura{
    width: 320px;
    height: 320px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    background-size: contain;
    overflow: hidden;
}

.miniatura a{
    text-decoration: none;
}

.git{
    color: #f27609;
    text-decoration: none;
}


.blackbox{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    padding-top: 120px;
    transition: 1s;
}

.blackbox:hover{
    opacity: 0.8;
    transition: 1s;
}

.blackbox-text{
    text-align: center;


}

.blackbox-text h1{
    font-size: 16px;
    color: #f27609;
    text-transform: uppercase;
    margin-top: 0;
}

.blackbox-text h2{
    text-transform: none;
    font-weight: 100;
    margin-top: 0;
}

.foto-trabalhos{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.back-link{
    text-decoration: none;
    color: #f27609;    
}

@keyframes animate{
    0%{transform: scale(0) translateY(0) rotate(0);opacity: 0.8;}
    100%{transform: scale(1.2) translateY(-90px) rotate(360deg);opacity: 0;}
}

@keyframes profile-capa{
    0% {opacity: 0; transform: translate(0px,100px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes titulo-capa{
    0% {opacity: 0; transform: translate(0px,-20px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes conteudo{
    0% {opacity: 0; transform: translate(-20px,0px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

@keyframes navegacao{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}


@media (max-width: 1000px){

.navigation li{
    display: none;
    animation-duration: 0s;
}
.navigation li.threeline-icon{
    display: inline-block;
}
.capa div{
    display: block;
    height: auto;
}

.profile-pic{
    width: 100%;
}
.profile-pic img{
    margin-top: 10px;
    max-width: 80%;
}

.profile-title{
    text-align: center;
    width: 100%;
}

.profile-title h1{
    margin-top: 30px;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.profile-title h2{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.main{
    padding: 10px 5% 40px 5%;
}

.main p{
    text-align: left;
    line-height: 30px;

}

.main a{
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.caminho li{
    font-size: 14px;
}

.cv-pic{
    float: none;
    max-width: 100%;
    margin-right: 20px;

}

.miniatura{
    max-width: 100%;
    background-size: auto 100%;
}

.blackbox{
    opacity: 0.8;
}

.menujs{
    height: auto;
    animation-name: menuzin;
    animation-duration: 0.6s;
}

.menujs ul{
    height: auto;
    text-align: center;
    padding-right: 15%;
    padding-left: 15%;

}

.menujs li{
    display: block;
    border-bottom: solid grey 1px;
    width: 100%;
    padding: 0;
}

@keyframes menuzin{
    0% {opacity: 0; transform: translate(0px,-50px)}
    100% {opacity: 1; transform: translate(0px,0px)}
}

}